.bubble {
    position: absolute;
   top: -54px;
    outline: 1px solid var(--color-primary);
    outline-offset: -10px;
}



.oracle {
    outline: 1px solid #FFD700;
    background-color: var(--color-primary);
    color: #fff;
}

.bubble.left {
    right: 90px;
    left: auto;
}

.bubble.left::after {
    content: "";
    position: absolute;
    top: 90%;
    right: 0;
    border-width: 16px;
    border-style: solid;
    border-color: var(--color-primary) transparent transparent transparent;
}

.bubble.right {
    left: 90px;
    right:  auto;
}

.bubble.right::after {
    content: "";
    position: absolute;
    top: 90%;
    left: 0;
    border-width: 16px;
    border-style: solid;
    border-color: var(--color-amber-50) transparent transparent transparent;
}

@media (prefers-color-scheme: dark) {
    .bubble.right::after {
        border-color: black transparent transparent transparent;
    }

}

@media screen and (max-width: 768px) {
    .bubble {
        top: -74px;
    }

    .bubble.left {
        top: -54px;
        right: 35px;
    }

    .bubble.right {
        left: 35px;
    }

}
