.marquee::before {
    content: "";
    position: absolute;
    background-color: var(--marquee-bg);
    z-index: 1;
    top: -3rem;
    border: 16px solid var(--marquee-border);
    border-bottom: none;
    width: 65%;
    height: 3rem;
    border-radius: 8rem 8rem 0 0;
}

.marquee {
    position: relative;
    text-shadow: 0 0 10px rgba(255,191,0,0.3), 0 0 20px rgba(255,191,0,0.2);
    background-color: var(--marquee-bg);
    color: #FFF;
    border-color: var(--marquee-border);
    z-index: 0;
    filter:  drop-shadow(0   0   18px rgba(255,200,50,.80)) drop-shadow(0   0   40px rgba(255,140, 0,.60));
    animation: glow 3s infinite;

}

.marquee::after {
    content: "";
    pointer-events: none;
    position: absolute;
    inset: 0;
    background: url("https://i.sstatic.net/9TQsy.png");
    opacity: 1;
    z-index: 1;
}

.marquee-lights {
    position: absolute;
    display: flex;
}

.marquee-lights-top {
    top: -14px;
    left: 12px;
    right: 12px;
    justify-content: space-between;
}

.marquee-lights-bottom {
    bottom: -14px;
    left: 12px;
    right: 12px;
    justify-content: space-between;
}

.marquee-lights-left {
    left: -14px;
    top: 16px;
    bottom: 16px;
    flex-direction: column;
    justify-content: space-between;
}

.marquee-lights-right {
    right: -14px;
    top: 16px;
    bottom: 16px;
    flex-direction: column;
    justify-content: space-between;
}

.bulb-arch {
    position: relative;
    z-index: 2;
    top: calc(-3rem + 16px);
}

.bulb-arch-curve {
    z-index: 2;
    position: relative;
    top: calc(-3rem + 22px);
}
.bulb {
    width: 12px;
    height: 12px;
    background-color: #FFD700;
    border-radius: 50%;
    box-shadow: 0 0 3px #FFD700, 0 0 6px #FFD700, 0 0 9px #FFD700;
    animation: blink 3s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
        background-color: #FFD700;
        box-shadow: 0 0 4px #FFD700, 0 0 8px #FFD700, 0 0 24px #FFD700;
    }
    50% {
        opacity: 0.6;
        background-color: #ccac00;
        box-shadow: 0 0 2px #ccac00, 0 0 4px #ccac00;
    }
}

@keyframes glow {
    0%, 100% {
        filter:  drop-shadow(0   0   18px rgba(255,200,50,.80)) drop-shadow(0   0   40px rgba(255,140, 0,.60));
    }
    50% {
        filter:  drop-shadow(0   0   12px rgba(255,200,50,.80)) drop-shadow(0   0   40px rgba(255,140, 0,.60));
    }
}
